{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'logo.png' %}"/>
    <title>Успех</title>
</head>
<body>
<style type="text/css">
    body {
        text-align: center;
    }
    h1 {
        font-family: "Libre Franklin", sans-serif;
    }
    p {
        font-family: "Libre Franklin", sans-serif;
        color: grey;
    }
    a {
        font-family: "Libre Franklin", sans-serif;
        text-decoration: none;
    }
</style>
    <h1>Форма заполнена успешно!</h1>
    <p>с вами свяжутся для уточнения заказа</p>
    <a href="{% url 'index' %}">На главную</a>
</body>
</html>