:root {
    --medium-sea-green: #018ccf;
    --dark-grey: #b3b3b3;
    --black: black;
    --bg-grey: #fafafa;
    --white: white;
    --dark-grey-2: #999;
    --sea-green: #48944f;
}

.input-form {
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.form-control {
    border: 2px solid black;
    border-radius: 10%;
}

.cta-h1 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 25px;
    padding-right: 20px;
}
body {
    width: 100%;
    overflow-x: hidden;
}

.service {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    margin-bottom: 100px;
}

.service-price {
    margin-top: 20px;
    font-family: "IBM Plex Mono", sans-serif;
}

.service-block {
    margin-bottom: 50px;
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: row;
    width: 102%;
    margin-top: -54px;
    float: left;
    margin-left: -2px;
    height: 75%;
}

.service-text-1 {
    width: 50%;
}

.service-h {
    font-family: "Libre Franklin", sans-serif;
    text-align: left;
    font-size: 40px;
}

.service-h3 {
    color: var(--medium-sea-green);
}

.service-p {
    font-size: 20px;
    font-family: "IBM Plex Mono", sans-serif;
    color: #474747;
}

.service-text {
    padding-top: 20px;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

.service-image1 {
    object-fit: cover;
    width: 50%;
}


.service-block-2 {
    display: flex;
    flex-direction: row;
}

.faq-header{
    font-family: "Libre Franklin", sans-serif;
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
    font-family: "Libre Franklin", sans-serif;
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

.review-p {
    font-family: "IBM Plex Mono", sans-serif;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.review-img {
    margin-top: 30px;
    margin-left: 30%;
    width: 40%;
    margin-right: 30%;
}

.reviews-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    flex-direction: row;
    display: flex;
    grid-gap: 50px;
    padding-top: 50px;
}

.review {
    background-color: #f5f6f8;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    margin-top: 20px;
    width: 70%;
    border-radius: 5%;
    overflow: auto;
}

.feature-h2 {
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
}

.main-h1 {
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
}

.main-p {
    text-align: center;
    font-family: "IBM Plex Mono", sans-serif;
    margin-bottom: 40px;
}

.feature-p {
    font-family: "IBM Plex Mono", sans-serif;
    color: var(--dark-grey);
    text-align:  center;
}

.feature-img {
    margin-left: 30%;
    width: 40%;
    margin-right: 30%;
}

.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
        max-width: 728px;
    }
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

h3 {
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Libre Franklin, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

h4 {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Libre Franklin, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

p {
    margin-bottom: 10px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
}

li {
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

img {
    max-width: 100%;
    display: inline-block;
}


blockquote {
    border-color: var(--medium-sea-green) var(--medium-sea-green) var(--medium-sea-green) #e6e6e6;
    color: #000;
    border-left-style: solid;
    border-left-width: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

.navigation {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    position: relative;
}

.navigation-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    height: 90px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}


.header {
    background-image: url('background.png');
    background-position: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 102%;
    margin-top: -100px;
    padding-bottom: 210px;
    padding-top: 90px;
    margin-left: -20px;
    display: flex;
}

.navigation-links {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Libre Franklin, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}

.bullet {
    background-color: #fff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-left: 15px;
    margin-right: 15px;
}

.navigation-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 4px;
    margin-left: 15px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    transition: background-color .2s, color .2s;
}

.navigation-button:hover {
    color: #000;
    background-color: #fff;
}

.header-content {
    text-align: center;
    max-width: 770px;
}


.h1 {
    color: #fff;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 72px;
    font-weight: 800;
    line-height: 78px;
}

.h1.cc-black {
    color: #000;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}

.paragraph {
    color: #fff;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.paragraph.cc-gray {
    color: #999;
}

.button {
    background-color: var(--medium-sea-green);
    color: #fff;
    border-radius: 4px;
    margin-top: 50px;
    padding: 15px 30px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    text-decoration: none;
    transition: background-color .2s;
}

.button:hover {
    background-color: #107cb0;
}

.button.cc-cta {
    margin-top: 0;
}

.button.cc-banner {
    color: #000;
    background-color: #fff;
}

.button.cc-banner:hover {
    background-color: #e6e6e6;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1170px;
    position: relative;
}

.container.cc-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container.cc-cta {
    display: flex;
}

.container.cc-footer {
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.container.cc-right {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.container.cc-blogpost {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 770px;
    display: block;
}

.container.cc-contact {
    display: flex;
}

.features {
    justify-content: center;
    align-items: center;
    padding: 120px 30px;
    display: flex;
    margin-bottom: 30px;
}

.h2 {
    color: var(--dark-grey);
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Libre Franklin", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.h2.cc-center {
    margin-bottom: 40px;
}

.h2.cc-2-rows {
    margin-bottom: 25px;
}

.h2.cc-white-text {
    color: #fff;
}

.h2.text-span.cc-post-text {
    margin-bottom: 15px;
}

.h2-container {
    width: 100%;
    margin-bottom: 90px;
}

.h2-container.cc-center {
    text-align: center;
    width: 65%;
    margin-bottom: 0;
}

.h2-container.cc-questions {
    margin-bottom: 60px;
}

.text-span {
    color: #000;
    font-weight: 800;
}

.text-span.cc-white-text {
    color: #fff;
}

.features-item-container {
    border: 1px solid #f7f7f7;
    height: 330px;
    padding: 50px 40px;
    transition: box-shadow .2s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.collection-list {
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    grid-gap: 50px;
}

.collection-list.cc-feature-row {
    margin-bottom: -20px;
}

.h3 {
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


.h3.cc-cta {
    color: var(--medium-sea-green);
    margin-bottom: 0;
}

.h3.cc-header {
    color: #fff;
    margin-bottom: 0;
    text-decoration: none;
}

.h3.cc-pricing {
    width: 100%;
}

.h3.cc-team-title {
    width: 100%;
    margin-bottom: 0;
}

.h3.cc-latest-posts {
    margin-bottom: 40px;
}

.section {
    padding-top: 70px;
}

.slider-section {
    background-color: #fafafa;
    flex-flow: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-top: 360px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    position: relative;
}

.slider {
    flex: 1;
    max-width: 1440px;
    height: 720px;
    margin-top: -360px;
}

.slide {
    background-image: url('2.jpg');
    background-position: 50%;
    background-size: cover;
}

.slide-nav {
    font-size: 6px;
}

.icon {
    width: 30px;
    height: 30px;
}

.left-arrow, .right-arrpw {
    display: none;
}

.slide-2 {
    background-image: url('3.jpg');
    background-position: 50%;
    background-size: cover;
}

.slide-3 {
    background-image: url('4.jpg');
    background-position: 50%;
    background-size: cover;
}

.about {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 115px 30px;
    display: flex;
}

.link {
    color: var(--medium-sea-green);
    text-transform: uppercase;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    transition: color .2s;
}


.link:hover {
    color: #48944f;
}

.separator {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.separator.cc-background-grey {
    background-color: var(--bg-grey);
}

.line-color {
    background-color: #e6e6e6;
    height: 1px;
}

.premium {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 120px 30px;
    display: flex;
}

.premium.cc-background {
    background-color: rgba(0, 0, 0, 0);
}

._2row-image.cc-bottom {
    margin-right: 0;
}

._2-row-image.cc-row-spacing {
    margin-right: 100px;
}

._2-row-text.cc-bottom.cc-reverse {
    margin-left: 100px;
    margin-right: 0;
}

.row {
    flex: 1;
    display: flex;
}

.row.cc_bottom {
    flex-direction: row-reverse;
    margin-top: 90px;
}

.row.cc-bottom.cc-reverse {
    flex-direction: row;
}

.row.cc-reverse{
    flex-direction: row-reverse;
}

._2-row-action-text {
    text-align: center;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.cta {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    display: flex;
}

.cta-line {
    background-color: var(--medium-sea-green);
    width: 30px;
    height: 2px;
    margin-left: 20px;
}

.cta-line.cc-header {
    background-color: #fff;
}

.cta-column {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    display: flex;
}

.cta-left-top {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
}

.footer {
    background-color: #0a0e1a;
    justify-content: center;
    align-items: center;
    padding: 120px 30px 150px;
    display: flex;
}

.footer-column {
    width: 50%;
    display: flex;
}

.footer-column.cc-footer {
    flex-direction: column;
}

.text-footer-credits {
    color: #666;
    margin-top: 15px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.footer-links-list {
    flex-direction: column;
    padding-right: 50px;
    display: flex;
}

.link-footer {
    color: #fff;
    margin-bottom: 25px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    transition: color .2s;
}

.link-footer:hover {
    color: rgba(255, 255, 255, .7);
}

.link-social {
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    display: flex;
}

.footer-social {
    justify-content: flex-start;
    width: 25%;
    display: flex;
}

.collection-item {
    justify-content: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    background-color: #f5f6f8;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.collection-item.cc-feature-row {
    width: 25%;
    margin-bottom: 20px;
}

.feature-icon {
    align-items: center;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    display: flex;
}

.nav-button {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    display: none;
}

.nav-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    display: flex;
}

.nav-icon-piece {
    background-color: #000;
    width: 100%;
    height: 2px;
    position: relative;
}

.nav-icon-piece.top {
    position: absolute;
    transform: translate(0, -8px);
}

.nav-icon-piece.bottom {
    position: absolute;
    transform: translate(0, 8px);
}

.header-inner {
    background-color: var(--medium-sea-green);
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    padding: 180px 30px 90px;
    display: flex;
}

.header-inner.cc-header-extra {
    padding-bottom: 210px;
}

.header-inner-content {
    width: 57%;
}

.inner-category {
    align-items: center;
    margin-bottom: 30px;
    display: flex;
}

.premium-banner {
    background-image: url('banner.jpg');
    background-position: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: 720px;
    padding: 120px 30px;
    display: flex;
}

.premium-banner-inner {
    background-color: var(--medium-sea-green);
    max-width: 370px;
    padding: 60px 50px;
}

.premium-intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 30px;
    display: flex;
}

.premium-image-banner {
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    max-height: 720px;
    display: flex;
    overflow: hidden;
}

.premium-image-container {
    background-color: #fff;
    border: 1px solid #f7f7f7;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    margin-top: -60px;
    margin-bottom: 120px;
    padding: 40px 60px;
    display: flex;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.image-banner {
    margin-right: 60px;
}

.container-quote {
    text-align: center;
    width: 70%;
}

.block-quote {
    color: var(--medium-sea-green);
    border-left: 0 rgba(0, 0, 0, 0);
    font-family: "Libre Franklin", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.author {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
}

.image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.text-block {
    color: #000;
    margin-left: 20px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.container-pricing {
    justify-content: center;
    align-items: stretch;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.pricing-block {
    border: 1px solid #f7f7f7;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    transition: box-shadow .2s;
    display: flex;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.pricing-block:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .14);
}

.price {
    color: #000;
    font-family: "Libre Franklin", sans-serif;
    font-size: 72px;
    font-weight: 800;
    line-height: 78px;
}

.price-block {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.currency {
    color: #999;
    margin-top: 40px;
    margin-left: 10px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.small-text {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.small-text.cc-light {
    color: #999;
    margin-top: 0;
    margin-bottom: 0;
}

.pricing-block-separator {
    background-color: var(--medium-sea-green);
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pricing-info {
    padding: 50px 40px 40px;
}

.button-pricing {
    background-color: var(--medium-sea-green);
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    transition: background-color .2s;
    display: flex;
}

.button-pricing:hover {
    background-color: #48944f;
}

.container-facts {
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.facts {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    position: relative;
}

.fact-block {
    background-color: #fff;
    border: 1px solid #f7f7f7;
    padding: 50px 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.image-2 {
    margin-bottom: 20px;
}

.facts-gray-background {
    background-color: #fafafa;
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-questions {
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: -30px -10px;
    display: flex;
}

.question-block {
    width: 50%;
    margin: 30px 50px 30px 10px;
}

.container-facts-inner {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.header-banner {
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.about-intro {
    justify-content: center;
    align-items: center;
    padding: 115px 30px 75px;
    display: flex;
}

.goals-container {
    align-items: flex-start;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.goals-container-inner {
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
}

.team {
    justify-content: center;
    align-items: center;
    padding: 120px 30px;
    display: flex;
}

.collection-list-2 {
    margin: -10px;
}

.team-member {
    padding-top: 10px;
    padding-bottom: 10px;
}

.team-inner-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.team-avatar {
    width: 100%;
    height: 100%;
}

.team-member-info {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px 30px 10px;
    display: flex;
}

.our-goals {
    justify-content: center;
    align-items: center;
    padding: 120px 30px;
    display: flex;
}

.blog-posts {
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    margin-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.blog-posts-item {
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    width: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.post-list {
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    margin: -10px;
    display: flex;
}


.blog-posts-item-container {
    background-color: #fff;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.post-info {
    padding: 30px;
}

.post-date {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.header-blog {
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    position: relative;
}

.header-image {
    z-index: 1;
    max-width: 1440px;
    max-height: 750px;
    position: relative;
}

.header-color {
    background-color: var(--medium-sea-green);
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    justify-content: center;
    align-items: center;
    padding: 90px 30px;
    display: flex;
}

.contact-intro {
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    padding: 120px 30px;
    display: flex;
}

.contact-info {
    width: 50%;
    margin-top: -10px;
    margin-bottom: -10px;
}

.contact-info-row {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.contact-info-text {
    color: #999;
    width: 25%;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contact-info-text.cc-text-black {
    color: #000;
    width: auto;
}

.form-input {
    align-content: center;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 60px;
}

.text-field {
    color: #b3b3b3;
    border: 1px #000;
    border-bottom: 1px solid #e6e6e6;
    height: 60px;
    padding-left: 0;
    padding-right: 0;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.text-field:hover {
    border-bottom-color: #000;
}

.text-field:active {
    color: #000;
}

.text-field:focus  {
    color: #000;
    border-bottom-color: #000;
}

.text-field::placeholder {
    color: #b3b3b3;
}

.rich-text {
    color: #000;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.rich-text h2 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.rich-text p {
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.rich-text img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.rich-text figcaption {
    color: #777;
    text-align: left;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.logo {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-menu {
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-link {
    color: #fff;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.nav-link.w--current {
    color: #fff;
}

.latest-posts {
    justify-content: center;
    align-items: center;
    padding: 90px 30px;
    display: flex;
}

.style-guide-label {
    color: #777;
    border-bottom: 1px solid #777;
    flex: 1;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 14px;
}

.image-licensing {
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    line-height: 24px;
}

@media screen and (max-width: 991px) {
    .panel-content {
        font-size: 25px;
    }
    .review {
        padding-bottom: 30px;
    }
    .review-p {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .h3 {
        font-size: 25px;
    }
    .feature-p {
        font-size: 20px;
    }
    .panel-title {
        font-size: 30px;
    }
    .text-span {
        color: #000;
        font-weight: 800;
    }

    .service-text-1 {
        width: 100%;
        padding-bottom: 15px;
    }
    .service-h3 {
        font-size: 30px;
    }
    .service-h {
        line-height: 27px;
        font-size: 35px;
    }
    .service-p {
        padding-bottom: 10px;
        font-size: 25px;
    }
    .service-block {
        width: 102%;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        margin-left: -10px;
        margin-bottom: 15px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    }
    .block-first {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
        display: flex;
        flex-direction: column-reverse;
    }
    .service-image1 {
        width: 100%;
        height: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -3px;
    }
    .reviews-container {
        flex-direction: column;
    }

    .review {
        width: 100%;
    }
    .navigation {
        z-index: 999;
        padding-right: 10px;
    }


    .bullet {
        display: none;
    }

    .navigation-button {
        width: 75%;
        margin: 20px 30px;
    }

    .container.cc-contact {
        flex-wrap: wrap;
    }

    .h2-container, .h2-container.cc-center {
        width: 80%;
    }

    .features-item-container {
        height: auto;
    }

    .collection-list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .slider-section {
        margin-top: 240px;
    }

    .slider {
        height: 480px;
        margin-top: -240px;
    }

    ._2-row-image {
        max-width: 50%;
        margin-right: 30px;
    }

    ._2-row-image.cc-row-spacing {
        margin-right: 50px;
    }

    ._2row-image.cc-row-reverse, ._2-row-text {
        margin-right: 0;
    }

    ._2-row-text.cc_bottom {
        margin-right: 50px;
    }

    ._2-row-text.cc_bottom.cc-reverse {
        margin-left: 50px;
    }

    .collection-item {
        width: 70%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .collection-item.cc-feature-row {
        width: 50%;
        display: flex;
    }

    .header-inner-content {
        width: 80%;
    }

    .premium-image-container {
        margin-top: 0;
    }

    .container-quote {
        width: 100%;
    }

    .container-pricing {
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .pricing-block {
        align-content: flex-start;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container-facts {
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: stretch;
        margin: -10px;
    }

    .fact-block {
        flex-wrap: wrap;
        align-items: flex-start;
        display: flex;
    }

    .container-facts-inner {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .team {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .collection-list-2 {
        flex-wrap: wrap;
        display: flex;
    }

    .team-member {
        width: 33%;
    }

    .blog-posts-item {
        width: 50%;
    }

    .header-color {
        height: 85%;
    }

    .contact-intro {
        flex-wrap: wrap;
        padding-bottom: 110px;
    }

    .contact-info {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav-menu {
        background-color: var(--medium-sea-green);
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    }

    .nav-link {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .icon-2 {
        color: #fff;
        font-size: 32px;
    }

    .menu-button:active, .menu-button.w--open {
        background-color: var(--medium-sea-green);
    }
    .main-p {
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .navigation-links {
        display: none;
    }

    .h1 {
        font-size: 48px;
        line-height: 54px;
    }

    .h1.cc-black {
        margin-bottom: 50px;
    }

    .container.cc-cta, .container.cc-footer {
        flex-wrap: wrap;
    }

    .features {
        padding-top: 60px;
    }

    .h2-container {
        width: 100%;
        margin-bottom: 60px;
    }

    .h2-container.cc-center {
        width: 100%;
    }

    .features-item-container {
        height: auto;
    }

    .collection-list {
        flex-direction: column;
        margin: -10px 0;
    }

    .slider-section {
        margin-top: 150px;
    }

    .slider {
        height: 300px;
        margin-top: -150px;
    }

    .about {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .premium {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    ._2-row-image {
        max-width: 100%;
        margin-bottom: 60px;
        margin-right: 0;
        display: flex;
    }

    ._2-row-image.cc-row-spacing, ._2-row-text, ._2-row-txt.cc-bottom {
        margin-right: 0;
    }

    ._2-row-text.cc-bottom.cc-reverse {
        margin-left: 0;
    }

    ._2-row-text.cc-row-reverse {
        margin-right: 0;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    ._2-row-action-text {
        margin-top: 50px;
    }

    .cta {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .cta-column {
        justify-content: flex-start;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer-column {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer-column.cc-footer {
        width: 100%;
    }

    .collection-item.cc-feature-row {
        flex: 1;
        width: 100%;
    }

    .nav-button {
        display: flex;
    }

    .nav-icon-piece, .nav-icon-piece.top {
        background-color: #fff;
    }

    .collection-list-wrapper.cc-feature-row {
        margin-bottom: -60px;
    }

    .header-inner {
        padding-top: 150px;
        padding-bottom: 60px;
    }

    .header-inner.cc-header-extra {
        padding-bottom: 180px;
    }

    .header-inner-content {
        width: 100%;
    }

    .premium-intro {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .premium-image-container {
        margin-bottom: 90px;
    }

    .about-intro {
        padding-top: 85px;
        padding-bottom: 45px;
    }

    .goals-container {
        flex-wrap: wrap;
        margin-top: -15px;
        margin-bottom: 15px;
    }

    .team-member {
        width: 50%;
    }

    .our-goals {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .blog-posts-item {
        width: 100%;
    }

    .header-color {
        height: 85%;
    }

    .content {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .contact-intro {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .contact-info-row {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .contact-info-text {
        width: 100%;
    }
}
